* {
  box-sizing: border-box;
}

.exp-container {
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 1rem;
}

.exp-contents {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  overflow-x: scroll;
  padding: 1%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.exp-content-item {
  background-color: #965015;
  width: 75%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  overflow: auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'DM Sans', sans-serif;
}

.exp-subcontent-item {
  overflow: auto;
}

.exp-content-item h2 {
  font-size: 3vh;
  color: #ffd6a3;
}

.exp-content-item i {
  color: #ffd6a3;
  font-weight: bold;
}

.exp-content-item p {
  font-size: 2.5vh
}

.exp-subcontent-item li {
  font-size: 2vh;
  transition: font-size 0.3s ease;
  cursor: pointer;
  list-style-type: none;
}

.exp-subcontent-item li:hover {
  background-color: #cbac85;
  color: black;
  margin: 2px;
  padding: 5px;
  border-radius: 15px;
  font-size: 2.5vh;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #cbac85;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6a3005;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #965015;
}


.modal-header {
  margin-left: 10px;
  color: black;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-header h2 {
  font-size: 3vh;
}

.modal-closer {
  justify-self: right;
  color: #6a3005;
  cursor: pointer;
  font-size: 4vh;
  background-color: #cbac85;
  border-radius: 50%;
}